@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.lgn{
    background: #494C4F;
    margin: auto;
    color: black;
    width: 100%;
    height: 90%;


}
.conexpages{
    background-color: white;
    width: 30%;
    margin: 0 auto;
    border-radius: 5%;
    border: 5px;
    padding: 5px;


}


